/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #1f96db; /* Correct Flatty blue */
    color: white;
    font-family: "Lato", sans-serif;
}

/* NAVBAR */
.navbar {
    width: 100%;
    padding: 15px 160px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 18px;
    font-weight: 400;
    opacity: 0.9;
}

.logo {
    font-weight: 900;
    letter-spacing: 1px;
    font-size: 18px;
}

.nav-member {
    font-size: 16px;
    opacity: 0.8;
    margin-left: auto;
    padding-left: 160px;
}

/* HERO SECTION */
.hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 150px;
    padding-top: 20px;
    overflow: hidden;
}

.left-content {
    margin-top: -70px;
    padding-left: 10px;
}

/* LEFT SIDE CONTENT */

.left-content h1 {
    box-sizing: border-box;
    color: rgb(255, 255, 255);
    display: block;
    font-family: "Lato", sans-serif;
    font-size: 45px;
    font-weight: 300;
    height: 99px; 
    letter-spacing: 1px;
    line-height: 49.5px;
    margin: 15px 0 15px 0;
    text-size-adjust: 100%;
    unicode-bidi: isolate;
    width: 100%;
    -webkit-font-smoothing: antialiased;
}

/* EMAIL BOX */
.email-box {
    gap: 3px;
    display: flex;
    margin-top: 0px;
}

.email-box input {
    padding: 15px 20px;
    width: 220px;
    font-size: 16px;
    font-family: "Lato", sans-serif;
    color: #333333;
    border: 1px solid #cccccc;
    border-radius: 8px;
    outline: none;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

.email-box input::placeholder{
    color: #9e9e9e;
    font-weight: 100;
    font-size: 18px;
}

.email-box button {
    padding: 15px 25px;
    background: #f7b341;
    color: #fff;
    border: 1px solid transparent;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
}

/* RIGHT SIDE IMAGE */
.right-image img {
    padding-top: 100px;
    width: 440px;
    position: relative;
    left: -140px;
    top: 40px;
}

/* ========== FEATURES SECTION ========== */
.features {
    background: #f4f4f4;
    padding: 40px 0;
    text-align: center;
}

.features-top h1 {
    font-size: 40px;
    margin-bottom: 10px;
    box-sizing: border-box;
    color: rgb(51, 51, 51);
    display: block;
    font-family: "Lato", sans-serif;
    font-weight: 300;
    letter-spacing: 1px;
    line-height: 49.5px;
    margin-top: 20px;
    text-size-adjust: 100%;
    unicode-bidi: isolate;
    width: 100%;
    -webkit-font-smoothing: antialiased;
    text-align: center;
}

.features-top h3 {
    color: rgb(149, 165, 166);
    font-family: "Lato", sans-serif;
    font-size: 24px;
    font-weight: 400;
    margin: 0 auto 25px;
    line-height: 28px;
    max-width: 580px;
    text-align: center;
}

/* FEATURES GRID */
.features-container {
    margin-top: 60px;
    display: flex;
    justify-content: center;
    gap: 0px;
}

.feature-box {
    width: 420px;
    padding-top: 10px;
    text-align: center;
}

.feature-box img {
    width: auto;
    height: 180px;
    margin-bottom: 20px;
}

.feature-box h4 {
    font-size: 20px;
    color: rgb(149, 165, 166);
    font-family: "Lato", sans-serif;
    font-weight: 400;
    margin: 10px 0;
    line-height: 22px;
    text-align: center;
}

.feature-box p {
    font-size: 16px;
    color: rgb(85,85,85);
    font-family: "Lato", sans-serif;
    font-weight: 300;
    text-align: center;
    margin: 0 auto 25px;
    max-width: 380px; 
    line-height: 28px;
}

.email {
    background-color:#f4f4f4;
    text-align: center;
}



.email-lines-wrapper {
    width: 100%;
    background-color: #f4f4f4;
    position: relative;
    padding: 20px 0;
}

.email-lines-wrapper::before,
.email-lines-wrapper::after {
    content: "";
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 80%;
    height: 2px;
    background: #dcdcdc;
}

.email-lines-wrapper::before { top: 0; }
.email-lines-wrapper::after { bottom: 0; }

.email-box-2 {
    gap: 3px;
    display: flex;
    justify-content: center;
}

.email-box-2 input {
    padding: 15px 20px;
    width: 220px;
    font-size: 16px;
    font-family: "Lato", sans-serif;
    color: #333333;
    border: 1px solid #cccccc;
    border-radius: 8px;
    outline: none;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}


.email-box-2 input::placeholder{
    color: #9e9e9e;
    font-weight: 100;
    font-size: 18px;
}


.email-box-2 button {
    padding: 10px 16px;
    background: #f7b341;
    color: #fff;
    border: 1px solid transparent;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
}

/* ========== FLATTY IS FOR EVERYONE SECTION ========== */
.flatty-everyone {
    font-size: 40px;
    font-weight: 300;
    /* line-height: 44px; */
    background-color: #f4f4f4;
    align-items: center;
    padding-top: 0px;
    padding-bottom: 80px;
}

.flatty-top {
    padding-top: 80px;
    text-align: center;
}

.flatty-top h1 {
    box-sizing: border-box;
    color: rgb(51, 51, 51);
    display: block;
    font-family: "Lato", sans-serif;
    font-size: 40px;
    font-weight: 300;
    height: auto;
    width: auto;
    margin: 0 auto 10px auto;
    text-size-adjust: 100%;
    unicode-bidi: isolate;
    width: 679.6px;
    -webkit-font-smoothing: antialiased;
    text-align: center;
}

.flatty-top p {
    box-sizing: border-box;
    color: rgb(149, 165, 166);
    display: block;
    font-family: "Lato", sans-serif;
    font-size: 24px;
    font-weight: 400;
    height: auto;
    width: auto;
    margin: 10px auto 0 auto;
    max-width: 600px;
    text-size-adjust: 100%;
    unicode-bidi: isolate;
    width: 580.4px;
    -webkit-font-smoothing: antialiased;
    text-align: center;
}

.phone-preview {
    display: flex;
    justify-content: center;
    padding-top: 40px;
}

.phone-preview img {
    display: block;    
    margin: auto;
    width: 220px;
    height: auto;
    filter: drop-shadow(20px 20px 10px rgba(0,0,0,0.22));
}

/* ========== TEAM SECTION ========== */
.team-section {
    background: #f4f4f4;
    text-align: center;
    padding: 20px 20px 10px 20px;
}

.team-top {
    padding-top: 40px;
    margin-bottom: 10px;
}

.team-top h1 {
    color: rgb(51, 51, 51);
    font-family: "Lato", sans-serif;
    font-size: 40px;
    font-weight: 300;
    line-height: 44px;
    margin: 20px auto 10px;
    max-width: 580px;
    height: auto;
    width: 100%;
    text-align: center;
}

.team-top h3 {
    color: rgb(149, 165, 166);
    font-family: "Lato", sans-serif;
    font-size: 24px;
    font-weight: 400;
    line-height: 32px;
    margin: 0 auto 25px;
    max-width: 580px;
    height: auto;
    text-align: center;
}

/* TEAM GRID */

.team-members {
    margin: 50px auto 0;
    display: flex;
    justify-content: space-between;
    gap: 20px;
    max-width: 1300px;
    width: 100%;
}

.member {
    width: 420px;
    padding-top: 10px;
    text-align: center;
}

.member img {
     width: 140px;
    height: 140px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 20px; 
}

.member h4 {

    font-size: 20px;
    color: rgb(149, 165, 166);
    font-family: "Lato", sans-serif;
    font-weight: 400;
    margin: 10px 0;
    line-height: 22px;
    text-align: center;
}

.member p {

    font-size: 16px;
    color: rgb(85,85,85);
    font-family: "Lato", sans-serif;
    font-weight: 300;
    text-align: center;
    margin: 0 auto 25px;
    max-width: 380px; 
    line-height: 28px;

}

.social-icons {
    margin-top: 10px;
    display: flex;
    justify-content: center;
    gap: 18px;
}

.social-icons img {
    width: 22px;
    height: 22px;
    cursor: pointer;
    opacity: 0.7;
    transition: 0.3s ease;
}

.social-icons img:hover {
    opacity: 1;
    transform: scale(1.2);
}


/* Contact Section */
.contact-section {
    width: 100%;
    background: #f2f2f2;
    padding: 50px 0;
    text-align: center;
}

.contact-section h2 {
    font-size: 30px;
    margin-bottom: 25px;
    font-weight: 500;
    color: #000;
}

/* Center the form */
.contact-form {
    width: 60%;
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

/* Center input fields */
.contact-form input,
.contact-form textarea {
    margin: 0 auto;
}

/* Inputs */


.input-field {
    height: 40px;
}

.input-field,
.textarea-field {
    width: 85%;
    padding: 18px;
    border: 1px solid #cccccc;
    border-radius: 3px;
    font-size: 16px;
    box-sizing: border-box;
    font-family: inherit;
}

/* Placeholder text grey */
.input-field::placeholder,
.textarea-field::placeholder {
    color: #9e9e9e;
    font-weight: 100;
    font-size: 14px;
}

/* Textarea */
.textarea-field {
    height: 160px;
    resize: vertical;
}

/* Button */
.send-btn {
    width: 200px;
    padding: 15px;
    background: #f2a33a;
    border: none;
    color: #fff;
    font-size: 18px;
    border-radius: 5px;
    cursor: pointer;
    margin: 20px auto 0;
    transition: 0.3s;
}

.send-btn:hover {
    background: #d98a2d;
}
